<nav class="navbar navbar-dark bg-dark d-print-none navbar-expand-lg fixed-top ps-3 pe-3" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class="navbar-brand" href="https://httpwg.org/"><img src="https://httpwg.org/assets/http.svg" height="23" /></a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbar-collapse">
      
    <div class="navbar-nav me-auto">

      <a class="nav-item ms-1 text-white" href="https://httpwg.org/specs/">📄 Documentation</a>

      <div class="dropdown ms-4">
        <a href="#" class="nav-item dropdown-toggle text-white" data-bs-toggle="dropdown">Work in Progress</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="https://httpwg.org/http-extensions/">HTTP Extensions</a></li>
            <li class="dropdown-item"><a href="https://github.com/httpwg/admin/issues?q=is%3Aissue+is%3Aopen+label%3Aadoption">Future Work</a></li>
          </ul>
      </div>

      <div class="dropdown ms-4">
        <a href="#" class="nav-item dropdown-toggle text-white" data-bs-toggle="dropdown">Participate</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="https://httpwg.org/about/">About the HTTP Working Group</a></li>
            <li class="divider"></li>
            <li class="dropdown-item"><a href="https://httpwg.org/CONTRIBUTING.html">Contribution Policy</a></li>
            <li class="dropdown-item"><a href="http://datatracker.ietf.org/wg/httpbis/charter/">WG Charter</a></li>
            <li class="dropdown-item"><a href="http://lists.w3.org/Archives/Public/ietf-http-wg/">Group Mailing List 📨</a></li>
            <li class="dropdown-item"><a href="https://httpwg.org/wg-materials/">Meeting Materials</a></li>
            <li class="dropdown-item"><a href="https://httpwg.org/admin/editors/">Document Editor Resources</a></li>
          </ul>
      </div>
    </div>
            
  </div>
</nav>
