<!DOCTYPE HTML> 

<html lang="en">
  <head>
    {% include headmatter.html %}
  </head>
  <body>
    
    {% include navbar.html %}

    {% if page.banner_img %}
    <image class="img-fluid hidden-xs" src="{{ page.banner_img }}">
    {% endif %}
    
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
        {% unless site.suppress_site or page.suppress_site %}
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        {% endunless %}
      {% endif %}
      {% if page.title %}
      <h2>{{ page.title }}</h2>
      {% endif %}

      {{ content }}

      {% include footer.html %}

    </div>
  </body>
</html>